/*________________________SEARCH BAR_____________________________*/

#searchMovie {
    width: 80%;
    height: 50%;
    margin: 30px auto;
    background-image: url('/public/pictures/frontsearch.png');
    background-size: cover;
    color: #eeeeee;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}

#transParency {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.622);
    border-radius: 10px; 
}

.haeElokuvatxt {
    padding: 20px;
    color: #eeeeee;
}

#haeElokuva {
    display: flex; 
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    
    padding: 20px;
    margin: 10px;
}

#search-box {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.845);
    color: #eeeeee;
    font-size: 20px;
    border-radius: 5px;
    justify-content: center;
}

#searchBtn {
    background-color:  rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: 1px solid rgb(73, 68, 73);
}

#searchBtnImg {
    width: 30px;
    height: 30px;
    transition: ease-in-out 0.4s;
}
#searchBtnImg:hover {
    transform: rotate(360deg);
}

#suodatus{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 10px
}

.genreBtn {
    
    background-color: rgb(0, 0, 0);
    color: #eeeeee;
    border-radius: 5px;
    padding: 15px; 
    cursor: pointer;
    font-size: 16px;
    border: 1px solid rgb(73, 68, 73);
}

.genreBtn:hover{
    background-color: rgb(47, 15, 48);
}

#genreDropdown {
  
    background-color:  rgb(0, 0, 0);
    color: #eeeeee;
    cursor: pointer;
    border-radius: 5px;
    
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border: 1px solid rgb(73, 68, 73);
}

#genreDropdown option {
    padding: 5px;
    font: 16px;
   
}

/*________________FRESH NEWS____________________*/
#freshNews {
    width: 83%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.259);
    text-align: center;
    border-radius: 20px;   
}

.etusivunH4{ 
    padding: 20px;
    color: #eeeeee;
    font-size: 24px;
}

#uutiset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  
  #uutisetLiItem {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  #uutisetLiItem li {
    flex: 1;
   
  }
  
  #uutisetLiItem li img {
    width: 100%;
    height: auto;


  }
  
  .lisaaUutisia {
    flex: 1;
    padding: 20px;
    background-color: black;
    font-size: 20px;
    color: #eeeeee;
    border: none;
  }