body {
    margin: 0;
    width: 100%;
}

#sivunnimi,
#sivunnimi a {
    color: #dd7be6;
    font-family: 'Aclonica', sans-serif;
    font-size: 40px;
    margin-left: 0px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 2px 2px 0 #621448, 2px -2px 0 #621448, -2px 2px 0 #621448, -2px -2px 0 #621448, 2px 0px 0 #621448, 0px 2px 0 #621448, -2px 0px 0 #621448, 0px -2px 0 #621448, 0 0 10px #af98b5;;
 
}
/*WHOLE NAVBAR*/
#navbar {

    background-color: #00000043;
    color: #EEEEEE;
    height: 70px;
    padding: 10px;
    position: fixed; /*pysyy yläreunassa kiinni*/
    top: 0;          /*pysyy yläreunassa kiinni*/
    width: 100%;
    z-index: 1000; /*TSEKKAA*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding-right: 20px; /*TSEKKAA*/
    padding-left: 20px; /*TSEKKAA*/
}
/*_______________________________________*/

/*ONLY LINKS*/
#legit-nav-linkit a {
    font-family: 'Advent Pro', sans-serif;
    font-size: 20px;
    color: #EEEEEE;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    border-radius: 15px;

}


#legit-nav-linkit a:hover {
    color: #000000;
    background-color:  rgb(187, 187, 187);
}
/*__________________________________________*/

 /* NOTIFICATIONS & SETTINGS */

 #notif-settings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}

#navbar img {
    height: 25px;
    width: 25px;
    transition: ease-in-out 0.3s;
    padding: 20px;
    border: none;

}

#navbar img:hover {
    transform: rotate(20deg);
}

/*_________________________________*/

/* BUTTONS */

.buttons {
    display: flex;
    gap: 50px;
}

.buttons button {
    padding: 10px 15px;
    background-color: #dd7be6;
    color: #EEEEEE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Advent Pro', sans-serif;
    font-size: 18px;
    border: 1px solid rgb(117, 110, 116);
  }
  
  .buttons button:hover {
    background-color: rgb(187, 187, 187);
    color: #000000;
  }